<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.unisong.android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@drawable/unisong_launcher"
        android:name=".Unisong"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/UnisongTheme" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <service android:name=".MediaService"/>
        <service android:name=".network.NetworkService"/>

        <activity android:name=".activity.UnisongActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="io.unisong.android.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="io.unisong.android.activity.session.invite.InviteMemberActivity"
            android:label="@string/action_invite_friend" >
        </activity>

        <activity
            android:name="io.unisong.android.activity.LoginActivity"
            android:label="@string/login" >
        </activity>
        <activity
            android:name=".activity.register.RegisterActivity"
            android:label="@string/register" >
        </activity>
        <activity
            android:name=".activity.session.music_select.MusicSelectActivity"
            android:label="@string/add_song"
            android:screenOrientation="portrait" >
        </activity>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />


        <activity android:name=".activity.register.FBPhoneNumberInputActivity"
            android:label="@string/register"
            >
        </activity>

        <activity android:name=".activity.friends.AddFriendActivity"
            android:label="@string/add_friend_label"
            />

        <activity android:name=".activity.friends.username.AddFriendByUsernameActivity"
            android:label="@string/add_friend_by_username"
            />

        <activity android:name=".activity.session.MainSessionActivity"
            android:label="@string/app_name"
            />

        <activity android:name=".activity.session.music_select.CollectionSelectActivity"
            android:label="@string/app_name"
            />
        <activity android:name=".activity.friends.contacts.AddFriendsFromContactsActivity"
            android:label="@string/add_friend_contacts"
            />

        <activity android:name=".activity.friends.facebook.AddFriendsFromFacebookActivity"
            android:label="@string/add_friend_facebook"
            />

        <activity android:name=".activity.friends.friend_requests.FriendRequestActivity"
            android:label="@string/friend_requests_label"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b05995d0c9a445ac9786f3c788d3b2af176741bf" />
    </application>

</manifest>
