<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezturner.speakersync" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/SpeakerSyncTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TypeSelector"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.MusicPlayer.MusicPlayer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MusicPlayer.MusicSelect.MusicSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".MediaService" />

        <activity
            android:name=".activity.MusicPlayer.MusicPlaying"
            android:label="@string/title_activity_music_playing" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.MusicPlayer.MusicPlayer" />
        </activity>
    </application>

</manifest>
